[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gymnasium = {version = "*", extras = ["mujoco"]}
cython = "<3"
mujoco-py = ">=2.1,<2.2"
matplotlib = "*"
torch = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
